# Force detection of core logic
/lib/**/*.js linguist-language=JavaScript
/theme/**/*.js linguist-language=JavaScript
/pages/**/*.js linguist-language=JavaScript
*.prisma linguist-language=Prisma

# Mark specifically as detectable to avoid "too small" or "redacted" filters
*.js linguist-detectable
*.prisma linguist-detectable

# Exclude documentation from language statistics
*.md linguist-documentation
/docs/**/* linguist-documentation

# Mark as vendored (completely hidden from language bar)
package-lock.json linguist-vendored
package.json linguist-vendored
jsconfig.json linguist-vendored
next.config.js linguist-vendored
LICENSE linguist-vendored
